
html{
  font-size: 18px;
}

body{
  font-family: Helvetica;
  color: white;
}

/*****Header*****/
header{
  display: flex;
  align-items: center;
  padding: 0.66rem 0rem;
  background-color: black;
}

header img{
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
}

header span{
  margin-left: 1rem;
}

/*****Body*****/

/*Main Banner*/

.detail{
  background-color: black;
}

#banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: auto;
  background-image: url("../../Resources/Images/main-banner.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  width: 960px;
  padding-left: 5rem;
  margin: auto;
}

#headline{
  width: 25rem;
  height: auto;
  font-weight: bold;
}

#headline h2{
  padding-top: 0.25rem;
  font-size: 2rem;
}

#headline .detail{
  padding: 2rem 3rem;
}

/*Navigation*/

#nav{
  background-color: firebrick;
}

#nav ul{
  display: flex;
  margin: auto;
  max-width: 960px;
  justify-content: space-around;
  padding: 0.75rem 0rem;
}

/*Products*/

.product{
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: contain;
}

.pen.product{
  background-image: url("../../Resources/Images/pen.png");
}

.watch.product{
  background-image: url("../../Resources/Images/watch.png");
}

.glasses.product{
  background-image: url("../../Resources/Images/glasses.png");
}

#product-row{
  display: flex;
}
